<div class="container-fluid">
  <h4 *ngIf="!searchOn; else searchOff">Category: {{ currentCategoryName }}</h4>
  <ng-template #searchOff>
    <h4>{{ currentCategoryName }}</h4>
  </ng-template>
  <hr />
  <div class="row">
    <div *ngFor="let tempProduct of products" class="col-md-3">
      <div class="product-box">
        <a routerLink="/products/{{ tempProduct.id }}">
          <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
        </a>
        <a routerLink="/products/{{ tempProduct.id }}" class="nameATag">
          <h1>
            {{ tempProduct.name }}
          </h1>
        </a>
        <div class="price">
          {{ tempProduct.unitPrice | currency : "USD" }}
        </div>
        <a href="#" class="btn btn-secondary">Add to Cart</a>
      </div>
    </div>
  </div>

  <!-- Warning No Products-->
  <div *ngIf="products?.length == 0 && searchOn" class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-danger text-center">Product not found.</div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <ngb-pagination
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      (pageChange)="searchOn ? searchProducts() : listProducts()"
      [maxSize]="4"
      size="sm"
    >
    </ngb-pagination>
    <div>
      <span>Page Size</span>
      <select #change (change)="updateSize(change.value)">
        <option selected="true">5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
      </select>
    </div>
  </div>
</div>
