.header {
  background-color: #263238;
  color: #eceff1;
  padding: 10px 0;
  margin-left: 170px;
  z-index: 1;
}

.cart-icon {
  color: #eceff1;
  margin-right: 20px;
}

.main {
  margin-left: 170px;
  padding: 20px;
  padding-bottom: 50px;
}

.footer {
  background-color: #263238;
  color: #eceff1;
  text-align: right;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 3;
}

.footer p {
  margin: 0;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
