/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eceff1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #455a64;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #546e7a;
}
