<form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
  <div formGroupName="customer">
    <h3>Customer</h3>
    <div class="form-group row">
      <div class="col">
        <label for="inputFirst">First Name</label>
        <input
          type="text"
          id="inputFirst"
          class="form-control"
          placeholder="First name"
          formControlName="firstName"
        />
      </div>
      <div class="col">
        <label for="inputLast">Last Name</label>
        <input
          type="text"
          id="inputLast"
          class="form-control"
          placeholder="Last name"
          formControlName="lastName"
        />
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      />
    </div>
  </div>
  <div formGroupName="shippingAddress" class="mt-5">
    <h3>Shipping Address</h3>
    <div class="form-group">
      <label for="street">Street</label>
      <input
        type="text"
        id="street"
        class="form-control"
        placeholder="Street"
        formControlName="street"
      />
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="country">Country</label>
        <select
          class="form-select"
          formControlName="country"
          (change)="changeStates(1)"
        >
          <option
            *ngFor="let country of countries"
            value="{{ country.isoCode }}"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="state">State</label>
        <select class="form-select" formControlName="state">
          <option *ngFor="let state of statesShipping" value="{{ state.name }}">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="city">City</label>
        <input
          type="text"
          id="city"
          class="form-control"
          placeholder="City"
          formControlName="city"
        />
      </div>
      <div class="col">
        <label for="zip">Zip Code</label>
        <input
          type="text"
          id="zip"
          class="form-control"
          placeholder="Zip Code"
          formControlName="zipCode"
        />
      </div>
    </div>
  </div>
  <div class="form-check mt-2">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      (change)="onCheckChange($event)"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Use Shipping Address as Billing Address
    </label>
  </div>
  <div formGroupName="billingAddress" class="mt-5">
    <h3>Billing Address</h3>
    <div class="form-group">
      <label for="street">Street</label>
      <input
        type="text"
        id="street"
        class="form-control"
        placeholder="Street"
        formControlName="street"
      />
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="country">Country</label>
        <select
          class="form-select"
          formControlName="country"
          (change)="changeStates(2)"
        >
          <option
            *ngFor="let country of countries"
            value="{{ country.isoCode }}"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="state">State</label>
        <select class="form-select" formControlName="state">
          <option *ngFor="let state of statesBilling" value="{{ state.name }}">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="city">City</label>
        <input
          type="text"
          id="city"
          class="form-control"
          placeholder="City"
          formControlName="city"
        />
      </div>
      <div class="col">
        <label for="zip">Zip Code</label>
        <input
          type="text"
          id="zip"
          class="form-control"
          placeholder="Zip Code"
          formControlName="zipCode"
        />
      </div>
    </div>
  </div>
  <div formGroupName="creditCard" class="mt-5">
    <h3>Credit Card</h3>
    <div class="form-group row">
      <div class="col">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Name"
          formControlName="nameOnCard"
        />
      </div>
      <div class="col">
        <label for="type">Card Type</label>
        <select class="form-select" formControlName="cardType">
          <option>Visa</option>
          <option>Mastercard</option>
        </select>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="number">Card Number</label>
        <input
          type="number"
          id="number"
          class="form-control"
          placeholder="Card Number"
          formControlName="cardNumber"
        />
      </div>
      <div class="col">
        <label for="code">Security Code</label>
        <input
          type="number"
          id="code"
          class="form-control"
          placeholder="Security Code"
          formControlName="securityCode"
        />
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="month">Expiration Month</label>
        <select class="form-select" formControlName="expirationMonth">
          <option *ngFor="let month of months" value="{{ month }}">
            {{ month }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="year">Expiration Year</label>
        <select
          class="form-select"
          formControlName="expirationYear"
          (change)="changeMonthsByYear()"
        >
          <option *ngFor="let year of years" value="{{ year }}">
            {{ year }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h3>Review Your Order</h3>
    <div class="container">
      <p>Total Quantity: {{ totalQuantity }}</p>
      <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary mt-4" type="submit" style="width: 15%">
      Buy
    </button>
  </div>
</form>
