<form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
  <div formGroupName="customer">
    <h3>Customer</h3>
    <div class="form-group row">
      <div class="col">
        <label for="inputFirst"
          >First Name<span style="color: red">*</span></label
        >
        <input
          type="text"
          id="inputFirst"
          class="form-control"
          placeholder="First name"
          formControlName="firstName"
        />
        <div
          *ngIf="
            isSubmitted ||
            (firstName?.invalid && (firstName?.dirty || firstName?.touched))
          "
        >
          <p class="alert alert-danger" *ngIf="firstName?.errors?.['required']">
            First name is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="firstName?.errors?.['minlength'] || firstName?.errors?.['noSpaceAlowed']"
          >
            First name must be at least 2 characters long.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="inputLast"
          >Last Name<span style="color: red">*</span></label
        >
        <input
          type="text"
          id="inputLast"
          class="form-control"
          placeholder="Last name"
          formControlName="lastName"
        />
        <div
          *ngIf="
            isSubmitted ||
            (lastName?.invalid && (lastName?.dirty || lastName?.touched))
          "
        >
          <p class="alert alert-danger" *ngIf="lastName?.errors?.['required']">
            Last name is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="lastName?.errors?.['minlength'] || lastName?.errors?.['noSpaceAlowed']"
          >
            Last name must be at least 2 characters long.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="inputEmail">Email<span style="color: red">*</span></label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      />
      <div
        *ngIf="
          isSubmitted || (email?.invalid && (email?.dirty || email?.touched))
        "
      >
        <p class="alert alert-danger" *ngIf="email?.errors?.['required']">
          Email is required.
        </p>
        <p class="alert alert-danger" *ngIf="email?.errors?.['pattern']">
          Email address is not valid.
        </p>
      </div>
    </div>
  </div>
  <div formGroupName="shippingAddress" class="mt-5">
    <h3>Shipping Address</h3>
    <div class="form-group">
      <label for="street">Street<span style="color: red">*</span></label>
      <input
        type="text"
        id="street"
        class="form-control"
        placeholder="Street"
        formControlName="street"
      />
      <div
        *ngIf="
          isSubmitted ||
          (shippingStreet?.invalid &&
            (shippingStreet?.dirty || shippingStreet?.touched))
        "
      >
        <p
          class="alert alert-danger"
          *ngIf="shippingStreet?.errors?.['required']"
        >
          Street is required.
        </p>
        <p
          class="alert alert-danger"
          *ngIf="shippingStreet?.errors?.['minlength'] || shippingStreet?.errors?.['noSpaceAlowed']"
        >
          Street must be at least 2 characters long.
        </p>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="country">Country<span style="color: red">*</span></label>
        <select
          class="form-select"
          formControlName="country"
          (change)="changeStates(1)"
        >
          <option
            *ngFor="let country of countries"
            value="{{ country.isoCode }}"
          >
            {{ country.name }}
          </option>
        </select>
        <div
          *ngIf="
            isSubmitted ||
            (shippingCountry?.invalid &&
              (shippingCountry?.dirty || shippingCountry?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="shippingCountry?.errors?.['required']"
          >
            Country is required.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="state">State</label>
        <select class="form-select" formControlName="state">
          <option *ngFor="let state of statesShipping" value="{{ state.name }}">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="city">City<span style="color: red">*</span></label>
        <input
          type="text"
          id="city"
          class="form-control"
          placeholder="City"
          formControlName="city"
        />
        <div
          *ngIf="
            isSubmitted ||
            (shippingCity?.invalid &&
              (shippingCity?.dirty || shippingCity?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="shippingCity?.errors?.['required']"
          >
            City is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="shippingCity?.errors?.['minlength'] || shippingCity?.errors?.['noSpaceAlowed']"
          >
            City must be at least 2 characters long.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="zip">Zip Code<span style="color: red">*</span></label>
        <input
          type="text"
          id="zip"
          class="form-control"
          placeholder="Zip Code"
          formControlName="zipCode"
        />
        <div
          *ngIf="
            isSubmitted ||
            (shippingZipCode?.invalid &&
              (shippingZipCode?.dirty || shippingZipCode?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="shippingZipCode?.errors?.['required']"
          >
            Zip Code is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="shippingZipCode?.errors?.['minlength'] || shippingZipCode?.errors?.['noSpaceAlowed']"
          >
            Zip Code must be at least 2 characters long.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-check mt-2">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      (change)="onCheckChange($event)"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Use Shipping Address as Billing Address
    </label>
  </div>
  <div formGroupName="billingAddress" class="mt-5">
    <h3>Billing Address</h3>
    <div class="form-group">
      <label for="street">Street<span style="color: red">*</span></label>
      <input
        type="text"
        id="street"
        class="form-control"
        placeholder="Street"
        formControlName="street"
      />
      <div
        *ngIf="
          isSubmitted ||
          (billingStreet?.invalid &&
            (billingStreet?.dirty || billingStreet?.touched))
        "
      >
        <p
          class="alert alert-danger"
          *ngIf="billingStreet?.errors?.['required']"
        >
          Street is required.
        </p>
        <p
          class="alert alert-danger"
          *ngIf="billingStreet?.errors?.['minlength'] || billingStreet?.errors?.['noSpaceAlowed']"
        >
          Street must be at least 2 characters long.
        </p>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="country">Country<span style="color: red">*</span></label>
        <select
          class="form-select"
          formControlName="country"
          (change)="changeStates(2)"
        >
          <option
            *ngFor="let country of countries"
            value="{{ country.isoCode }}"
          >
            {{ country.name }}
          </option>
        </select>
        <div
          *ngIf="
            isSubmitted ||
            (billingCountry?.invalid &&
              (billingCountry?.dirty || billingCountry?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="billingCountry?.errors?.['required']"
          >
            Country is required.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="state">State</label>
        <select class="form-select" formControlName="state">
          <option *ngFor="let state of statesBilling" value="{{ state.name }}">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="city">City<span style="color: red">*</span></label>
        <input
          type="text"
          id="city"
          class="form-control"
          placeholder="City"
          formControlName="city"
        />
        <div
          *ngIf="
            isSubmitted ||
            (billingCity?.invalid &&
              (billingCity?.dirty || billingCity?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="billingCity?.errors?.['required']"
          >
            City is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="billingCity?.errors?.['minlength'] || billingCity?.errors?.['noSpaceAlowed']"
          >
            City must be at least 2 characters long.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="zip">Zip Code<span style="color: red">*</span></label>
        <input
          type="text"
          id="zip"
          class="form-control"
          placeholder="Zip Code"
          formControlName="zipCode"
        />
        <div
          *ngIf="
            isSubmitted ||
            (billingZipCode?.invalid &&
              (billingZipCode?.dirty || billingZipCode?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="billingZipCode?.errors?.['required']"
          >
            Zip Code is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="billingZipCode?.errors?.['minlength'] || billingZipCode?.errors?.['noSpaceAlowed']"
          >
            Zip Code must be at least 2 characters long.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div formGroupName="creditCard" class="mt-5">
    <h3>Credit Card</h3>
    <div class="form-group row">
      <div class="col">
        <label for="name">Name<span style="color: red">*</span></label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Name"
          formControlName="nameOnCard"
        />
        <div
          *ngIf="
            isSubmitted ||
            (nameOnCard?.invalid && (nameOnCard?.dirty || nameOnCard?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="nameOnCard?.errors?.['required']"
          >
            Name is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="nameOnCard?.errors?.['minlength'] || nameOnCard?.errors?.['noSpaceAlowed']"
          >
            Name must be at least 2 characters long.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="type">Card Type<span style="color: red">*</span></label>
        <select class="form-select" formControlName="cardType">
          <option>Visa</option>
          <option>Mastercard</option>
        </select>
        <div
          *ngIf="
            isSubmitted ||
            (cardType?.invalid && (cardType?.dirty || cardType?.touched))
          "
        >
          <p class="alert alert-danger" *ngIf="cardType?.errors?.['required']">
            Card type is required.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="number">Card Number<span style="color: red">*</span></label>
        <input
          type="number"
          id="number"
          class="form-control"
          placeholder="Card Number"
          formControlName="cardNumber"
        />
        <div
          *ngIf="
            isSubmitted ||
            (cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="cardNumber?.errors?.['required']"
          >
            Card number is required.
          </p>
          <p class="alert alert-danger" *ngIf="cardNumber?.errors?.['pattern']">
            Card number must be 16 characters long.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="code">Security Code<span style="color: red">*</span></label>
        <input
          type="number"
          id="code"
          class="form-control"
          placeholder="Security Code"
          formControlName="securityCode"
        />
        <div
          *ngIf="
            isSubmitted ||
            (securityCode?.invalid &&
              (securityCode?.dirty || securityCode?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="securityCode?.errors?.['required']"
          >
            Security code is required.
          </p>
          <p
            class="alert alert-danger"
            *ngIf="securityCode?.errors?.['pattern']"
          >
            Security code must be 3 characters long.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col">
        <label for="month"
          >Expiration Month<span style="color: red">*</span></label
        >
        <select class="form-select" formControlName="expirationMonth">
          <option *ngFor="let month of months" value="{{ month }}">
            {{ month }}
          </option>
        </select>
        <div
          *ngIf="
            isSubmitted ||
            (expirationMonth?.invalid &&
              (expirationMonth?.dirty || expirationMonth?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="expirationMonth?.errors?.['required']"
          >
            Expiration month is required.
          </p>
        </div>
      </div>
      <div class="col">
        <label for="year"
          >Expiration Year<span style="color: red">*</span></label
        >
        <select
          class="form-select"
          formControlName="expirationYear"
          (change)="changeMonthsByYear()"
        >
          <option *ngFor="let year of years" value="{{ year }}">
            {{ year }}
          </option>
        </select>
        <div
          *ngIf="
            isSubmitted ||
            (expirationYear?.invalid &&
              (expirationYear?.dirty || expirationYear?.touched))
          "
        >
          <p
            class="alert alert-danger"
            *ngIf="expirationYear?.errors?.['required']"
          >
            Expiration year is required.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h3>Review Your Order</h3>
    <div>
      <p>Total Quantity: {{ totalQuantity }}</p>
      <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary mt-4" type="submit" style="width: 15%">
      Buy
    </button>
  </div>
</form>
