.sidebar {
  height: 100%;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #263238;
  padding-top: 20px;
}

.sidebar a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #eceff1;
  display: block;
}

.sidebar a:hover {
  background-color: #37474f;
}

.active-link {
  font-weight: bold;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
